ul {
  display: flex;
  justify-content: space-between;
  font-family: "Dancing Script";
  color: #000;
  font-size: 22px;
  list-style-type: none;
  background-color: rgb(146, 66, 251);
  margin: 0;
}

li {
  margin: 2% 2%;
}

.push-right {
  margin-left: auto;
}

.links {
  color: #fff;
  text-decoration: none;
}

.btn-user {
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

.links:hover {
  color: black;
  cursor: pointer;
}
