ul {
  display: flex;
  justify-content: space-between;
  font-family: "Dancing Script";
  color: #000;
  font-size: 22px;
  list-style-type: none;
  margin: 0;
  background-color: none;
}

li {
  margin: 2% 2%;
}

.push-right {
  margin-left: auto;
}

.links {
  color: #716f6f;
  text-decoration: none;
}

.links:hover {
  color: black;
  cursor: pointer;
}

